{% extends 'main/base.html' %}

{% block title %}
main page
{% endblock %}

{% block content %}
<div class="row g-5">
    <div class="col-md-7 col-lg-5   ">
        <h3 class="mb-3">How we can help?</h3>
         <h4 class="mb-3">Send us a message!</h4>
        <form class="needs-validation" novalidate="">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>

                <div class="col-sm-6">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>

                <div class="col-12">
                  <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                  <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                  </div>
                </div>

                <div class="col-12">
                  <label for="message" class="form-label">Message</label>
                  <textarea  type="text" id="message" class="form-control" placeholder="Message..." required="" cols="40" rows="4"></textarea>
                  <div class="invalid-feedback">
                    Please enter your shipping address.
                  </div>
                </div>
                   </div>
            </br>
              <button class="w-50 btn btn-primary btn-sm" type="submit">Send message </button>
            </form>
    </div>
</div>

{% endblock %}

