{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Login
{% endblock %}

{% block content %}

<body>
<link rel="stylesheet" href="{% static 'vendor/ds.css' %}">
<div class="main">
     <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form method="post" action="/signup">
            {% csrf_token %}
            <label for="chk" aria-hidden="true">Login</label>
            <input type="text" name="username" placeholder="Username" required="">
            <input type="password" name="pass1" placeholder="Password" required="">
            <button type="submit">Login</button>
            <a class="link" href="/signup" >Doesn't have an account?</a>
        </form>
    </div>
</div>
</body>
{% endblock %}

