{% load mptt_tags %}

{% for genre,structure in catalog|tree_info:"ancestors" %}
    {% if not structure.ancestors and not structure.closed_levels %}
    <div class="me-3 py-2 text-dark text-decoration-none" aria-labelledby="dropdown01">
        <a class="d-flex align-items-center text-dark text-decoration-none" href="{{ genre.get_absolute_url }}"
           id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% elif not structure.ancestors and structure.closed_levels %}
        <a class="me-3 py-2 text-dark text-decoration-none" href="{{ genre.get_absolute_url }}">
            </div>
    {% elif structure.new_level and structure.ancestors %}
    <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="d-flex align-items-center text-dark text-decoration-none" href="{{ genre.get_absolute_url }}">
    {% elif structure.ancestors%}
            <a class="d-flex align-items-center text-dark text-decoration-none" href="{{ genre.get_absolute_url }}">
    {% endif %}
        {{ genre.name }}</a>
    {% for level in structure.closed_levels %}
        {% if structure.ancestors%}
    </div>
        {% else %}
        {% endif %}
    {% endfor %}
{% endfor %}